<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="escanearQr()">
          <ion-label style="font-size: 35px;">
            <ion-icon name="qr-code-outline"></ion-icon>
            Escanear Créditos
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="mostrarScanner">
      <zxing-scanner  (scanSuccess)="handleQrCodeResult($event)">
      </zxing-scanner>
    </div>

    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="verCreditos()">
          <ion-label style="font-size: 35px;">
            <ion-icon name="rocket-outline"></ion-icon>
            Créditos  : 
          </ion-label>
          <ion-label style="font-size: 40px; justify-content: center;">              
          {{ creditos }}
          </ion-label>
          
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="limpiar()">
          <ion-label style="font-size: 35px;">
            <ion-icon name="trash-outline"></ion-icon>
            Limpiar Créditos
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
