<ion-content [fullscreen]="true" >
  <ion-grid>
    <ion-row>
      <ion-col>        
        <ion-card color="primary"  expand="block" >
          <ion-label style="font-size: 35px;">
            <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
            Escanear Créditos
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>   
        <ion-card color="primary"  expand="block" >
          <ion-label style="font-size: 35px;">
            <ion-icon aria-hidden="true" name="rocket-outline"></ion-icon>
            Ver Créditos
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="primary"  expand="block" >
          <ion-label style="font-size: 35px;">
            <ion-icon aria-hidden="true" name="trash-outline"></ion-icon>
            Limpiar Créditos
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

