// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    // Usar el valor de 'tertiary' como 'primary'
    --ion-color-primary: var(--ion-color-success);
    --ion-color-primary-rgb: var(--ion-color-success-rgb);
    --ion-color-primary-contrast: var(--ion-color-success-contrast);
    --ion-color-primary-contrast-rgb: var(--ion-color-success-contrast-rgb);
    --ion-color-primary-shade: var(--ion-color-success-shade);
    --ion-color-primary-tint: var(--ion-color-success-tint);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  :root {
    --ion-font-family: "Volkhov", serif;
  }

  :root {
    /**
     * Setting the variables for DEMO purposes only.
     * Values will be set automatically when building an iOS or Android app.
     */
    --ion-safe-area-top: 35px;
  }